body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: #051A20;
    color: #ffffff;
}

header {
    background-color: #051A20;
    border-bottom: 3px solid #051A20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

header img {
    height: 50px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    background-color: #051A20;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
}

nav a:hover {
    background-color: #53849C;
}

.hero {
    text-align: center;
    padding: 80px 20px;
    background-color: #051A20;
}

.hero h1 {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    margin-bottom: 15px;
    color: #ffffff;
    font-weight: 700;
}

.hero p {
    max-width: 600px;
    margin: 0 auto 15px;
    font-size: 16px;
    line-height: 1.4;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

section {
    padding: 50px 20px;
}

.classicos {
    background-color: #DCEBFA;
    text-align: center;
    padding-bottom: 5%;
    padding-top: 1%;
}

.classicos h2 {
    font-size: 22px;
    color: #051A20;
    margin-bottom: 20px;
    font-family: "Inter", sans-serif;
}

.classicos h3 {
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 20px;
    font-family: "Inter", sans-serif;
}

.imgs {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.img {
    background-color: #53849C;
    color: #fff;
    border-radius: 15px;
    padding: 20px;
    width: 250px;
    text-align: center;
    font-family: "Inter", sans-serif;
}

.img img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
}

.img h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.img p {
    font-size: 14px;
    line-height: 1.4;
}

footer {
    background-color: #53849C;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: "Inter", sans-serif;
}

footer h4 {
    font-family: "Inter", sans-serif;
    font-size: 23px;
    margin-bottom: 15px;
    color: #ffffff;
    font-weight: 700;
}

footer p {
    padding: 0px 20px;
    max-width: 600px;
    margin: 0 auto 15px;
    font-size: 16px;
    line-height: 1.4;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

footer img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 100%;
    margin-bottom: 60px;
}

.um {
    padding-left: 5%;
    padding-right: 5%;
}